
    <footer class="site-footer">
        <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <p class="text-muted footer-text">{{ site.data.global.footer_text }}</p>
                </div>
                <div class="col-md-3">
                  <div class="footer-social-media-group">
                    <li>
                      <a href="{{ site.data.global.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span></a>
                    </li>
                    <li>
                      <a href="{{ site.data.global.github }}" target="_blank"><span class="fa fa-github"></span></a>
                    </li>
                    <!-- <li>
                      <a href="{{ site.data.global.vimeo }}" target="_blank"><span class="fa fa-vimeo"></span></a>
                    </li> -->
                    <li>
                      <a href="{{ site.data.global.email }}" target="_blank"><span class="fa fa-envelope"></span></a>
                    </li>
                  </div>
                </div>
              </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>

    </body>
</html>
