{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image_alternate %}
          <span class="img" style="background-image: url('{{ page.featured_image_alternate | prepend: site.data.global.url }}');"></span>
        {% elsif page.featured_image %}
          <span class="img" style="background-image: url('{{ page.featured_image | prepend: site.data.global.url }}');"></span>
        {% endif %}

        {% if page.featured_video_id %}
          {% if page.video_format == "youtube" %}
            <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
          {% endif %}
          {% if page.video_format == "vimeo" %}
            <iframe src="https://player.vimeo.com/video/{{ page.featured_video_id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          {% endif %}
        {% endif %}
    </div>
{% endif %}

<div class="title-group">
    <h1 class="special">
        <span>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </span>
    </h1>
    <div class="social-media-group">
      <li>
        <a href="{{ site.data.global.linkedin }}" target="_blank"><span class="fa fa-linkedin" style="font-size: 1.5em"></span></a>
      </li>
      <li>
        <a href="{{ site.data.global.github }}" target="_blank"><span class="fa fa-github" style="font-size: 1.5em"></span></a>
      </li>
      <!-- <li>
        <a href="{{ site.data.global.vimeo }}" target="_blank"><span class="fa fa-vimeo" style="font-size: 1.5em"></span></a>
      </li> -->
      <li>
        <a href="{{ site.data.global.email }}" target="_blank"><span class="fa fa-envelope" style="font-size: 1.5em"></span></a>
      </li>
    </div>
    {% if page.id %}
    <aside>
        {{ page.date | date: "%m.%d.%y" }}
        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        {% endif %}
    </aside>
    {% endif %}
    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% else %}
            {{ site.data.global.description }}
        {% endif %}
    </p>
</div>
